<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">
          <img src="https://universalmedicagroup.com/wp-content/uploads/2021/11/Logo-UMG.svg" alt="Logo" width="90" height="90" class="d-inline-block align-text-top">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_index') }}">Espace admin</a>
          </li>
        </ul>

        {% if app.user %}
            <form class="d-flex" role="search">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            </form>
        {% endif %}
        
      </div>
    </div>
  </nav>